<footer class="bg-primary text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white">Contáctanos</h5>
                <p>Teléfono: +123456789</p>
                <p>Email: solutiotechoficial&#64;gmail.com</p>
            </div>
            <div class="col-md-4 text-white">
                <h5 class="text-white">Redes Sociales</h5>
                <h2>
                    <a class="text-white me-2"><i class="bi bi-facebook"></i></a>
                    <a class="text-white me-2"><i class="bi bi-twitter"></i></a>
                    <a class="text-white me-2"><i class="bi bi-instagram"></i></a>
                    <a class="text-white me-2"><i class="bi bi-linkedin"></i></a>
                </h2>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Servicios</h5>
                <ul class="list-unstyled">
                    <li><a class="nav-link">Servicio técnico online</a></li>
                    <li><a class="nav-link">Asistencia remota</a></li>
                    <li><a class="nav-link">Soluciones a problemas comunes</a></li>
                    <li><a class="nav-link">Actualizaciones de software</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4 mb-3">
        <p class="small mb-0">&copy; 2024 Tu Servicio Técnico. Todos los derechos reservados.</p>
    </div>
</footer>