<app-priv-nav />
<div class="container">
    <div class="row m-3">
        <div class="col col-sm-6 col-lg-4 col-md-12">
            <h5 class="text-center p-3">Configuración</h5>
            <ul>
                <li class="nav-item"><a class="nav-link mb-3" href="private/settings/#micuenta"
                        fragment="micuenta">Datos de mi cuenta</a></li>
                <li><a class="nav-link mb-3" href="private/settings/#mipanel" fragment="mipanel">Mi panel</a></li>
                <li><a class="nav-link mb-3" href="private/settings/#subscripcion"
                        fragment="subscripcion">Subscripción</a></li>
                <li><a class="nav-link mb-3" href="private/settings/#cuentasconectadas"
                        fragment="cuentasconectadas">Cuentas conectadas</a></li>
                <li><a class="nav-link" href="private/settings/#soporte" fragment="soporte">Soporte</a></li>
            </ul>
        </div>

        <div class="col shadow">
            <div class="container mb-5" id="micuenta">
                <h2 class="text-center p-2">Datos de mi cuenta</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Ha decaído el rendimiento de su teléfono al tomar fotos y no tener más respaldo por
                                    falta de memoria.
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Libera espacio almacenando fotos en la nube, eliminando apps innecesarias y archivos
                                    temporales. Considera actualizar el dispositivo o ampliar la memoria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Ha decaído el rendimiento de su teléfono al tomar fotos y no tener más respaldo
                                    por
                                    falta de memoria.
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Libera espacio almacenando fotos en la nube, eliminando apps innecesarias y
                                    archivos
                                    temporales. Considera actualizar el dispositivo o ampliar la memoria.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-5" id="mipanel">
                <h2 class="text-center p-2">Mi panel</h2>
            </div>

            <div class="container mb-5" id="subscripcion">
                <h2 class="text-center p-2">Subscripción</h2>
            </div>

            <div class="container mb-5" id="cuentasconectadas">
                <h2 class="text-center p-2">Cuentas conectadas</h2>
            </div>

            <div class="container mb-5" id="soporte">
                <h2 class="text-center p-2">Soporte</h2>
            </div>
        </div>


    </div>
</div>