<app-navigation />

<div class="container">
    <div class="row m-3">
        <div class="col col-sm-6 col-lg-4 col-md-12">
            <div class="card sticky-top">
                <h2 class="text-center p-2">Índices</h2>
                <ol>
                    <li><a class="nav-link mb-3" href="#sobrenosotros" fragment="sobrenosotros">¿Qué hacemos?</a></li>
                    <li><a class="nav-link mb-3" href="#nuestracobertura" fragment="nuestracobertura">Nuestra
                            cobertura</a>
                    </li>
                    <li><a class="nav-link mb-3" href="#casoscomunes" fragment="casoscomunes">Casos Comunes</a></li>
                    <li><a class="nav-link mb-3" href="#preguntasfrecuentes" fragment="preguntasfrecuentes">Preguntas
                            frecuentes</a></li>
                    <li><a class="nav-link" href="#contáctanos" fragment="contáctanos">Contáctanos</a></li>
                </ol>
            </div>
        </div>
        <div class="col">
            <div class="container mb-5" id="sobrenosotros">
                <h2 class="text-center p-2">¿Qué hacemos?</h2>
                <p>Nosotros como empresa somos responsables de que nuestro servicio sea el mejor, a partir de nuestra
                    atención a nuestros clientes hasta que el cliente esté contento con el servicio entregado.</p>
                <br>
                <p>Nuestra misión es proporcionar soluciones técnicas innovadoras y confiables para satisfacer las
                    necesidades de nuestros clientes. Nos esforzamos por ofrecer un servicio de alta calidad desde el
                    primer
                    contacto hasta la resolución completa del problema. Nuestro compromiso es garantizar que cada
                    cliente
                    esté completamente satisfecho con el servicio entregado.</p>
            </div>
            <div class="container mb-5" id="nuestracobertura">
                <h2 class="text-center p-4 m-2">Nuestra cobertura</h2>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Redes e informática</td>
                            <td>Realizamos soporte a tus equipos que tengan problemas de comunicación para tus clases o
                                trabajos.</td>
                        </tr>
                        <tr>
                            <td>Firewall y seguridad</td>
                            <td>Te damos la mejor seguridad de todas con gran calidad y precio.</td>
                        </tr>
                        <tr>
                            <td>Mejor rendimiento de tu equipo</td>
                            <td>Mejoramos el rendimiento de tu equipo, sea computadora o smartphone.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container mb-5" id="casoscomunes">
                <h2 class="text-center p-3">Casos Comunes</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Ha decaído el rendimiento de su teléfono al tomar fotos y no tener más respaldo por
                                    falta de memoria.
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Libera espacio almacenando fotos en la nube, eliminando apps innecesarias y archivos
                                    temporales. Considera actualizar el dispositivo o ampliar la memoria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Pérdida de conexión a internet en el dispositivo (computadora).
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Reinicia el enrutador y el dispositivo. Verifica la configuración de red y la
                                    intensidad
                                    de la señal Wi-Fi. Considera cambiar a una conexión por cable si es posible.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Fallos en actualizaciones por falta de espacio o errores.
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Verificar espacio, conexión estable, reiniciar y buscar ayuda técnica si persisten
                                    los
                                    errores.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 rounded-3 border-primary">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Problema del Cliente</strong>
                                    <br>
                                    Olvidos, contraseñas débiles o phishing.
                                </p>
                                <p class="card-text">
                                    <strong>Solución:</strong>
                                    <br>
                                    Usar gestores de contraseñas, autenticación de dos factores y educación sobre
                                    prácticas
                                    seguras.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-5" id="preguntasfrecuentes">
                <h2 class="text-center p-3">Preguntas frecuentes</h2>
                <div class="accordion" id="faqAccordion">
                    <!-- Pregunta 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                data-bs-parent="#faqAccordion" aria-labelledby="headingOne">
                                ¿Cómo puedo solicitar ayuda técnica online?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Puedes solicitar ayuda técnica online a través de nuestro sitio web o plataforma de
                                servicio al cliente. Simplemente completa un formulario de solicitud o chatea con uno de
                                nuestros representantes en línea.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                data-bs-parent="#faqAccordion">
                                ¿Cuáles son los beneficios de utilizar un servicio técnico online?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Los beneficios incluyen comodidad, acceso rápido a ayuda profesional, ahorro de tiempo
                                y, en muchos casos, la capacidad de resolver problemas sin salir de casa.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 3... -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                data-bs-parent="#faqAccordion">
                                ¿Qué tipos de problemas técnicos pueden ser resueltos online?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Muchos problemas comunes, como problemas de software, configuración de dispositivos,
                                conectividad a Internet, problemas de rendimiento y errores de sistema, pueden ser
                                resueltos eficientemente a través de servicios técnicos online.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                                data-bs-parent="#faqAccordion">
                                ¿Cómo puedo saber si mi problema puede ser resuelto online?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Puedes proporcionar detalles sobre tu problema al iniciar una solicitud de ayuda
                                técnica. Nuestros expertos evaluarán la naturaleza del problema y te informarán si puede
                                ser resuelto online o si se requiere asistencia adicional.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                                data-bs-parent="#faqAccordion">
                                ¿Cuáles son las medidas de seguridad para garantizar la privacidad de mis datos al
                                utilizar un servicio técnico online?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Utilizamos protocolos de seguridad robustos y encriptación para proteger tus datos
                                personales y de dispositivo. Nuestros técnicos están capacitados en prácticas seguras de
                                manejo de datos y cumplimos con las regulaciones de privacidad aplicables.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div id="contáctanos">
    <app-footer />
</div>